//out:../../site/css/styles.css
//sourcemap: 1
//compress: 1

@base-color: #233742;
@base-color-dark: #232323;
@base-color-hilight: RGB(66,66,66);
@base-color-contrast: RGB(50,77,85);

body{
  color: @base-color;
}
h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#header{
  color:@base-color-dark;
  text-align:center;
  .title{
    padding-right:3em;
  }
}
.chapter{
  font-family:source sans pro;
  font-weight:400;
  columns:2;
  margin:0 auto;
  p{
    color: @base-color;
  }
  .block{
    display:inline-block;
  }
}
@media (min-width: 768px){
  .chapter{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    max-width: 74em;

    -webkit-column-width: 36em;
    -moz-column-width: 36em;
    column-width: 36em;
  }
}
