body {
  color: #233742;
  padding: 18px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}
.chapter_title h1 {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.chapter_title p {
  text-align: center;
}
a {
  color: #73a0ad;
  text-decoration: underline;
}
b {
  font-weight: 700;
  color: #232323;
}
div.illustration {
  width: 100%;
  background-color: #3d3d3d;
}
div.illustration p {
  color: #b3cbd3;
}
.illustration img {
  display: block;
  width: 100%;
}
span.VEIL {
  color: #5a28aa;
  font-weight: 700;
}
#header {
  color: #232323;
  text-align: center;
}
#header .title {
  padding-right: 3em;
}
.chapter,
.chapter_title {
  font-family: source sans pro;
  font-weight: 400;
  margin: 0 auto;
  font-size: 18px;
}
.chapter p {
  color: #355363;
  margin-top: 0;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 9px;
}
.chapter .block {
  display: inline-block;
}
@media (min-width: 768px) {
  .chapter,
  .chapter_title {
    max-width: 74em;
  }
  .chapter {
    columns: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
  h1 {
    width: 100%;
  }
  .chapter {
    -webkit-column-gap: 44px;
    -moz-column-gap: 44px;
    column-gap: 44px;
  }
  .chapter p,
  .chapter li {
    font-size: 22px;
    line-height: 33px;
  }
  .chapter p,
  .chapter ol:last-child {
    margin-bottom: 11px;
  }
  .chapter h1 {
    font-size: 38.5px;
  }
  .chapter .illustration p {
    padding: 11px;
  }
  .chapter .illustration p.cc_by {
    padding-left: 38.5px;
    background-image: url("../images/by.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 33px;
    margin-left: 11px;
  }
  .chapter_title h1 {
    font-size: 61.6px;
  }
}
#myrrys-menu {
  position: absolute;
  left: 18px;
  top: 18px;
}
#myrrys-menu #myrrys-logo {
  height: 72px;
  width: 72px;
}
